// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pizza-app-primary: mat.define-palette(mat.$indigo-palette);
$pizza-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$pizza-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pizza-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $pizza-app-primary,
      accent: $pizza-app-accent,
      warn: $pizza-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pizza-app-theme);

/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@400;700&display=swap");

:root {
  --primary: #f95f5f;
  --accent: #4c4c4c;
  --accent-light-1: #8e8e8e;
  --accent-light-2: #eeeeee;
  --received: #ff8412;
  --preparing: #2594f9;
  --ready: #4ad395;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  line-height: 1.6;
}

.snackky {
  .mat-simple-snackbar-action {
    color: var(--primary) !important;
  }
}

.order-details-dialog {
  width: 50%;

  mat-dialog-container {
    padding: 42px;
    box-shadow: 0px 0px 46px rgb(0 0 0 / 24%);
    border-radius: 24px;
  }
}
